---
---

@import "{{ site.theme }}";

body {
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#555;
  font-weight:300;
}

header {
  width: 240px
}
section {
  width: 600px;
}


h1, h2, h3, h4, h5, h6 {
  color:#222;

  a:hover {
    font-weight: 600;
  }
}

header p, footer p {
  margin-bottom: 0;
}


a:hover, a:focus, a:visited {
  font-weight: 300;
}
strong a:hover {font-weight: 600}

ul.posts {
  list-style-type: none;
}

code, pre {
  font-size: 90%;
}

blockquote em {
  margin-bottom: 20px;
  display: block;
}

.alert {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;

  strong {color: #31708f;}
}

#shielded-logo {
  cursor: pointer;
  display: inherit;
  float: right;
  width: 42px;
  height: 42px;
}

.show-mobile {
  display: none
}

@media print, screen and (max-width: 960px) {
  header p {
    display: inline;
    padding-right: 20px;
  }
  .hidden-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
}

footer {
  font-size: 80%;
  line-height: 42px;
  margin: 20px auto;
  width: 100%;
  position: initial;
}